[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/andrewying
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/andrewying
	label-Verified = -1..+1 group user/andrewying
	push = group user/andrewying
	read = group user/andrewying
	rebase = group user/andrewying
	removeReviewer = group user/andrewying
	submit = group user/andrewying
[access "refs/heads/*"]
	create = group user/andrewying
	push = +force group user/andrewying
	pushMerge = group user/andrewying
	read = group user/andrewying
[access "refs/tags/*"]
	push = group user/andrewying
	push = +force group user/andrewying
